html, body, .view {
	height: 100%;
}
/* Navigation*/

.navbar {
	background-color: transparent;
}

.scrolling-navbar {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
	background-color: #1C2331;
}

footer.page-footer {
	background-color: #1C2331;
	margin-top: -1px;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #1C2331;
	}
	.logo-img {
		width: 5%;
		height: auto;
		float: left;
	}
}
/*Call to action*/

.flex-center {
	color: #fff;
}

.view {
	background: url('https://udemy-images.udemy.com/course/750x422/381850_d819_10.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo-img {
	width: 25%;
	height: auto;
}

.sticky {
	position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: 5rem;
    z-index: 10;
}