.view {
	background: url(../img/materialdesign.jpg)no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.view2 {
	background: url(../img/android_dev.jpg)no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.fillheight {
    min-height: 100%; 
    width: auto;
}

.fillwidth {
	min-width: 100%;
	height: auto;
}