<nav class="nav">
  <div class="container nav-container">
    <a href="{{ '/' | relative_url }}" class="nav-logo">ㅎㄹ</a>
    <button class="hamburger-menu" aria-label="Toggle navigation menu">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>
    <ul class="nav-links">
      <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
      <li><a href="{{ '/about/' | relative_url }}" class="{% if page.url == '/about/' %}active{% endif %}">About</a></li>
      <li><a href="{{ '/portfolio/' | relative_url }}" class="{% if page.url == '/portfolio/' %}active{% endif %}">Works</a></li>
      <li><a href="{{ '/KIM_RESUME.pdf' | relative_url }}" target="_blank">Resume</a></li>
    </ul>
  </div>
</nav> 