<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta content="{{ page.description | default: site.description }}" name="description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <link href="{{ '/img/jk_logo.svg' | relative_url }}" rel="icon" sizes="32x32" type="image/svg" />
    <link href="{{ '/img/jk_logo.svg' | relative_url }}" rel="icon" sizes="16x16" type="image/svg" />
    <link href="{{ '/css/flexslider.min.css' | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ '/css/line-icons.min.css' | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ '/css/elegant-icons.min.css' | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ '/css/lightbox.min.css' | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ '/css/bootstrap.min.css' | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ '/css/theme-1.css' | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ '/css/custom.css' | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700" rel="stylesheet" type="text/css" />
    <script src="{{ '/js/modernizr-2.6.2-respond-1.1.0.min.js' | relative_url }}"></script>
    {% seo %}
</head>

<body>
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    
    {% include navigation.html %}
    
    <div class="main-container">
        {{ content }}
    </div>
    
    {% include footer.html %}
    
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ '/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/js/jquery.plugin.min.js' | relative_url }}"></script>
    <script src="{{ '/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ '/js/jquery.flexslider-min.js' | relative_url }}"></script>
    <script src="{{ '/js/smooth-scroll.min.js' | relative_url }}"></script>
    <script src="{{ '/js/skrollr.min.js' | relative_url }}"></script>
    <script src="{{ '/js/spectragram.min.js' | relative_url }}"></script>
    <script src="{{ '/js/scrollReveal.min.js' | relative_url }}"></script>
    <script src="{{ '/js/isotope.min.js' | relative_url }}"></script>
    <script src="{{ '/js/twitterFetcher_v10_min.js' | relative_url }}"></script>
    <script src="{{ '/js/lightbox.min.js' | relative_url }}"></script>
    <script src="{{ '/js/jquery.countdown.min.js' | relative_url }}"></script>
    <script src="{{ '/js/scripts.js' | relative_url }}"></script>
</body>
</html> 